*{
    margin: 0;
    padding: 0;
    font-family: Segoe UI;
}


/* common css */
.container-fluid{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container{
    max-width: 1100px;
    width: 100%;
}








/* header css */
.header{
    width: 100%;
    height: 70px;
    background-color: #fefefe;
    box-shadow: rgba(0,0,0,0.35) 5px 10px 15px;
}

.header-container{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid black; */
}

.logo>h1{
    font-size: 40px;
    font-weight: 700;
    color:#f02c67;
    font-family: Segoe UI;
}


.logo>h1>span{
    color: #b90843;
}

button{
    padding: 10px 20px;
    border: none;
    background-color: turquoise;
    font-size: 18px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}




/* /// filter section */
.filter{
    height: 100vh;
    width: 30%;
    background-color: white;
    box-shadow: rgba(0,0,0,0.35) 5px 10px 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 25px;
    box-sizing: border-box;
    margin-left: -30%;
    transition: .3s;
}

.filter_section{
    border: 1px solid grey;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.user_inp{
    margin-bottom: 20px;
}

.user_inp>input{
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    font-size: 15px;
    outline: none;
}

.user_inp>select{
    width: 100%;
    padding: 15px;
    font-size: 15px;
    outline: none;
}

.user_inp{
    display: flex;
    justify-content: space-between;
}

.min_max_price{
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    width: 45%;
}

.min_max_price>p{
    font-size: 20px;
}
.min_max_price>input{
    padding: 15px;
    outline: none;
}

.user_inpur>button{
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
}







/* ///product section css */

.main{
    margin-top: 50px;
    margin-bottom: 50px;
}


.main-container{
    width: 100%;
    /* background-color: red; */
    display: flex;
    column-gap: 5%;
    flex-wrap: wrap;
    row-gap: 30px;
}

.card_item{
    width: 30%;
    /* background-color: green; */
    box-shadow: rgba(0,0,0,0.35) 5px 10px 15px;
}

.img_container{
    height: 300px;
    display: flex;
    justify-content: center;
}

.product_info{
    padding: 15px 20px;
}

.product_info>h2{
    font-size: 20px;
    color: #2a2a2a;
    margin-bottom: 10px;
}

.product_info>p{
    font-size: 18px;
    font-weight: 700;
}




/* //footer section */

.footer{
    padding: 20px 0px;
    background-color: black;
    color: white;
}

.footer-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container>p>a{
    text-decoration: none;
    color: rgb(124, 124, 245);
}